body{
    padding-left: 27px;
    padding-right: 20px;
    padding-top: 15px;
    width: 320px;
    height: 90vw;
    font-family: TTLakes;
    box-shadow: 4px 0px 50px rgba(0,0,0,.2);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@font-face {
    font-family: TTLakes;
    src: url("../font/TTLakesCondensed-Light.ttf");
  }
.header__first{
    display: flex;
    gap: 20px;
}
header b:hover{
    opacity: 0.6;
}
nav{
    margin-top: 35px;
    line-height: 30px;
}
nav :hover {
    color: #999999;
    border: 0px;
  }
nav :hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 37px;
    margin-left: -27px;
    margin-top: -5px;
    background-color: #4becd1;
}
footer{
    margin-top: 5vw;
    position: fixed;
    line-height: 15px;
}
.footer__icon{
    display: flex;
    gap: 20px;
}
.footer__icon :hover{
    opacity: 0.6;
}
.footer__contact{
    margin-top: 10px;
    
}
.footer__lang :hover {
    color: #999999;
    border: 0px;
  }